<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
  <h2>403 - Access Denied</h2>
  <p>You do not have permission to access this page.</p>
</main>

<%- include('partials/footer') %>
