<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
  <h2>Welcome to the Pet Adoption System</h2>
  <p>This is a full-stack MVC web application using Node.js, Express, MongoDB, Mongoose, EJS, JWT, bcrypt, and role-based authorization.</p>

  <a class="btn" href="/pets">View Available Pets</a>
</main>

<%- include('partials/footer') %>
