<!DOCTYPE html>
<html>

<head>

  <title>Welcome</title>

  <link rel="stylesheet" href="/css/welcome.css">

</head>

<body>

  <div class="welcome-container">

    <div class="pet-3d">

      <img 
        src="/images/pet.svg"
        alt="Pet"
      >

    </div>


    <div class="logo-rotate-container">

      <img 
        src="/images/logo.svg"
        id="rotatingLogo"
        alt="Logo"
      >

    </div>


    <div class="welcome-box">

      <h1>Pet Adoption System</h1>

      <p>
        Welcome to the Pet Adoption Platform
      </p>

      <div class="welcome-buttons">

        <a href="/login" class="welcome-btn">
          Sign In
        </a>

        <a href="/register" class="welcome-btn">
          Sign Up
        </a>

      </div>

    </div>

  </div>

  <script src="/js/logoRotate.js"></script>

</body>

</html>